body {
  overflow: hidden;
  margin: 0;
}

.hud, .hud2 {
  display: inline-flex;
  position: fixed;
  bottom: 10px;
  left: 100px;
  background: none;
  border: none;
  border-radius: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  padding: 20px;
  justify-content: space-between;
  color: aliceblue;
}
.hud:hover {
  cursor: pointer;
}
.hud2{
  display: inline-flex;
  position: fixed;
  bottom: 10px;
  left: 20px;
}

.hud3, .hud4, .hud5, .hud6{
  display: block;
  position: absolute;
}

.hud3{
  left: 30px;
  top: 350px;
}

.hud4{
  left: 30px;
  top: 250px;
}

.hud5{
  left: 30px;
  top: 150px;
}

.hud6{
  left: 30px;
  top: 50px;
}

.mensaje{
  display: block;
  position: relative; /* Cambiar la posición a relativa */
  padding: 20px;
  color: aliceblue;
  opacity: 90%;
}

.info{
  display: block;
  position: relative; /* Cambiar la posición a relativa */
  padding: 20px;
  color: aliceblue;
  opacity: 90%;
}

.tarjetaImg{
  position: absolute;
  padding-left: 200px;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 950px;
  margin-bottom: 0;
  border-radius:1em;
}

/* Para todos los tamaños de pantalla */
.info, .mensaje {
  position: relative; /* Cambiar la posición a relativa */
  padding: 20px;
  color: aliceblue;
  opacity: 90%;
}

/* Para pantallas más grandes que 1024px */
@media (min-width: 1024px) {
  .info, .mensaje {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Para pantallas entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .info, .mensaje {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Para pantallas entre 480px y 767px */
@media (min-width: 480px) and (max-width: 767px) {
  .info, .mensaje {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Para pantallas más pequeñas que 480px */
@media (max-width: 479px) {
  .info, .mensaje {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
